<!DOCTYPE html>
<html>
    <head>
        <title>Mainou's Recipe Lab</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
        <link href="/css/fancybox/jquery.fancybox.css" rel="stylesheet">
        <link href="/css/jcarousel.css" rel="stylesheet" />
        <link href="/css/flexslider.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <!--<link type="text/css" rel="stylesheet" href="lala.css"> just for testing-->
        <!-- Theme skin -->
        <link href="/skins/default.css" rel="stylesheet" />
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="shortcut icon" href="/ico/favicon.png" />
        <!--font awesome-->
        <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link type="text/css" rel="stylesheet" href="/css/addform.css">
    </head>
    <body>
        <div id="wrapper">
            <!-- toggle top area -->
            <div class="hidden-top">
              <div class="hidden-top-inner container">
                <div class="row">
                  <div class="span12">
                    <ul>
                      <li><strong>“One cannot think well, love well, sleep well, if one has not dined well.”</strong></li>
                      <li>Contact : Rohan shenoy(email : rohansheoy96@gmail.com)</li>
                      <li>Call us <i class="icon-phone"></i> (+91) 9769611279</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- end toggle top area -->
            <!-- start header -->
            <header>
              <div class="container ">
                <!-- hidden top area toggle link -->
                <div id="header-hidden-link">
                  <a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
                </div>
                <!-- end toggle link -->
                <div class="row nomargin">
                  
                </div>
                <br><br>
                <div class="row">
                  <div class="span4">
                    <div class="logo">
                      <a href="#"><img src="/img/logo.png" alt="" class="logo" style="height :100px; width:300px;"/></a>
                    </div>
                  </div>
                  <div class="span8">
                    <div class="navbar navbar-static-top">
                      <div class="navigation">
                        <nav>
                          <ul class="nav topnav">
                            <li class="dropdown">
                              <a href="/"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="dropdown">
                              <a href="/about"><i class="fa fa-info-circle"></i> About</a>
                            </li>
                            <li class="dropdown">
                              <a href="#"><i class="fa fa-cog"></i> Features <i class="icon-angle-down"></i></a>
                              <ul class="dropdown-menu">
                                <li><a href="/add">Create a recipe</a></li>
                                <li><a href="/recipes">View Our Recipes</a></li>
                              </ul>
                            </li>
                            <li class="dropdown">
                              <a href="/gallery"><i class="fa fa-comments"></i></i> Testimonials</i></a>
                            </li>
                            <li>
                              <a href="/contact"><i class="fa fa-file"></i> Contact </a>
                            </li>
                          </ul>
                        </nav>
                      </div>
                      <!-- end navigation -->
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <!-- end header -->
        
        
    