<% include ../partials/header %>
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>About us</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li class="active"><a href="/about">About us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h3>Welcome to <strong>Mainou's Recipe Lab</strong></h3>
            <p>
              A little boy named Mainou, wants to open a three Michelin Star worthy restaurant when he grows up.

                He starts trying out a lot of recipes and customizing them according to his personal style to make them heavenly delicious. He works on a recipe several times until it is perfect and works on several recipes in a day. His dream is to build a repository of his favorite recipes, that he will put on his restaurant menu, when he starts it.
            </p>
            <p>
              The problem Mainou faces is that, he can’t always remember which ingredients did he use exactly and in what quantity in each of his recipes. Also, he wishes he could document the calorific and nutritional value of each recipe, so he can be more transparent to his future customers.
            </p>
            <p>
              
              This little boy who is working so hard towards his future dream, takes my help through an app that will helps him document his recipes well.
            </p>
          </div>
          <div class="span6">
            <!-- start flexslider -->
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                </li>
                <li>
                  <img src="https://images.pexels.com/photos/36768/food-salmon-teriyaki-cooking.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                </li>
                <li>
                  <img src="https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span12">
            <h4>Talented peoples behind Mainou's Recipe Lab</h4>
          </div>
          <div class="span3">
            <img style="height:288.89px;width:280px;" src="https://images.pexels.com/photos/33614/cooking-eat-cut-food.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Mainou</strong>
              </p>
              <p>
                CEO - Founder(Head Chef)
              </p>
            </div>
          </div>
          <div class="span3">
            <img src="img/dummies/team2.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Rohan Shenoy</strong>
              </p>
              <p>
                Web Developer
              </p>
            </div>
          </div>
          <div class="span3">
            <img src="img/dummies/team3.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>VSN</strong>
              </p>
              <p>
                 Web designer
              </p>
            </div>
          </div>
          <div class="span3">
            <img src="img/dummies/team4.jpg" alt="" class="img-polaroid" />
            <div class="roles">
              <p class="lead">
                <strong>Benny Strongton</strong>
              </p>
              <p>
                Coffee maker
              </p>
            </div>
          </div>
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        <!-- end divider -->
        <div class="row">
          <div class="span6">
            <h4>Features</h4>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							1. Create a new recipe </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <ol>
                        <li>Add a list of ingredients with specific quantities to be used in the recipe</li>
                        <li>Upload / Take the pic of the created recipe</li>
                        <li>Assign a rating to the recipe, so he can remember if it is perfect or he needs to improve it further.  
</li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							2. Edit a recipe </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ol>
                        <li>
                            i.e. ingredients, quantity of ingredients, picture etc. as per his future experiments and quest to make it perfect.
                        </li>
                        <li>
                            Save each edited version as a revision of his original recipe so he can track the changes he made to make it perfect.
                        </li>
                    </ol>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
							3. Delete a recipe </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      Delete a recipe
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
							4. See a list of all his recipes </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ol>
                        <li>Search them by Name, Ingredients etc.</li>
                        <li>Sort the recipes by star rating, calorie value, date created etc. </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="span6">
            <h4>Our expertise</h4>
            <label>Tasty Recipe:</label>
            <div class="progress progress-info progress-striped active">
              <div class="bar" style="width: 90%">
              </div>
            </div>
            <label>Easy to make :</label>
            <div class="progress progress-success progress-striped active">
              <div class="bar" style="width: 60%">
              </div>
            </div>
            <label>Quantity specific :</label>
            <div class="progress progress-warning progress-striped active">
              <div class="bar" style="width: 80%">
              </div>
            </div>
            <label>In detail :</label>
            <div class="progress progress-danger progress-striped active">
              <div class="bar" style="width: 70%">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<% include ../partials/footer %>